.section-about{
    position:absolute;
    background-color:white;
    top: 83vh;
    margin:2rem auto;
    text-align: center;
    opacity: 0;
    width:90vw;
    transform: translateX(-150%);
    box-shadow: 0.2rem 0.5rem 1rem rgba(0,0,0,0.8);
    transition: all 1.5s;
    z-index: 100;
}

.section-about p{
    text-align: left;
    margin: 25px;
}

[class^="about-"][class$="-nav"],
a[class^="about-"][class$="-nav"]:visited,
a[class^="about-"][class$="-nav"]:link{
    color:inherit;
    text-decoration: underline;
    font-weight: 700;
}

[class^="about-"][class$="-nav"]:hover,
a[class^="about-"][class$="-nav"]:hover:visited,
a[class^="about-"][class$="-nav"]:hover:link {
    cursor:pointer;
    color:transparent;
    background-image: linear-gradient(to right,#0091ea,#37474f);
    -webkit-background-clip: text;
    background-clip: text;
}
