.section-skills__carousel {
    width:100%;
    overflow:hidden;
    margin-bottom: 2rem;
}
  
.section-skills__carousel-row {
    width:max-content;
    height:25rem;
}

/* for viewing the carousel in grid format */
.table-active {
    background-image: linear-gradient(to right bottom,rgba(100,181,246,.7),rgba(55,71,79,.7)),url(../images/cover.jpeg);
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    width:100%;
    height:100%;
    flex-basis:29%;
    margin:5% 2% 5% 0%;
}

.carousel-active .skill_box{
    margin-top:2rem;
}

.table-active .skill_box {
    background-color:rgba(255,255,255,0.8);
    margin:1%;
}

.table-active .skill_box:hover {
    transform: scale(1.09);
    background-color:rgba(255,255,255,1);
}

.section-skills__carousel-row div{
    float:left;
}

.skill_box {
    width:25rem;
    height:15rem;
    margin:1rem;
    padding:3rem;
    border-radius: 15px;
    text-align:center;
    background-color:rgba(207,216,220,0.45);
    box-shadow: inset 0rem 0rem 2rem rgba(0,0,0,0.5), 0rem 0rem 2rem rgba(0,0,0,0.5);
    transition:all 0.5s;    
}

.skill_box__icon{
    font-size: 10rem !important;
    background-image:linear-gradient(to right,#64b5f6,#37474f);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display:block;
}

.skill_title {
    margin-top: 2rem;
    font-size:1.5rem;
    text-transform:uppercase;
    font-weight:700;
    display:inline-block;
    color: #90a4ae;
    letter-spacing:5px;
    transition:all 0.5s;
}
