.section-contact{
    position:absolute;
    background-color:white;
    top: 83vh;
    margin:2rem;
    text-align: center;
    opacity: 0;
    transform: translateX(-150%);
    box-shadow: 0.2rem 0.5rem 1rem rgba(0,0,0,0.8);
    transition: all 1.5s;
    z-index: 100;
    width:93%;
    padding:2rem;
    background-image: linear-gradient(to right bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 60%,transparent),url(../images/dallas-skyline.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-contact p{
    text-align: left;
    margin: 25px;
}

.section-contact p:last-child{
    padding: 15px;
}

.section-contact__content {
    display:flex;
    justify-content:space-between;
    width: 100%;    
}

.section-contact__column{
    background-color:transparent;
    width: 50%;
    text-align:left;
}

.section-contact__column:last-child{
    position: relative;
}

.section-contact__column .word-content {
    color:#384952;
}

.social_links-point {
    color:#384952;
    text-decoration: none;
    margin:3px;    
    font-size: 5rem;
    transition:all 0.5s;
}

.social_links-point i {
    transition: all 0.5s;
}

.social_links {
    display:flex;
    justify-content:space-around;
}

.social_links-point:hover{
    transform:translateY(-1rem) scale(1.1);
}

.social_links-point.social_links-github:hover i{
    color: #6cc644;
}

.social_links-point.social_links-linkedin:hover i{
    color: #0077b5;
}

.social_links-point.social_links-email:hover i {
    color:rgb(219,34,51);
    cursor:pointer;
}
.social_links-point.social_links-resume:hover i{
    color:#bf5700;
}
.social_links-point.social_links-business-card:hover i{
    color:#7b1fa2;
    cursor:pointer;
}

.section-contact hr {
    outline:none;
    border:none;
    height: 4px;
    margin:3rem 0rem;
    background-image: linear-gradient(to right,rgba(55,71,79,.05) 0%,rgba(100,181,246,.8) 50%,rgba(55,71,79,.05) 100%);
}

.email-form hr {
    margin:2rem 0rem !important;
}