.cover.active {
    position:absolute;
    background-color:white;
    top: 70vh;
    left:0%;
    height:200vh;
    width:100vw;
    z-index:10000;
    margin-left:-20px;
    animation-delay:3.5s;
    animation-fill-mode:forwards;
    animation-name: reveal;
    animation-duration:0.5s;
}

@media (max-width:800px){
    margin-left:0px;
}