.section-head{
    position:relative;
    background-image: linear-gradient(to right bottom,rgba(100,181,246,.7),rgba(55,71,79,.7)),url(../images/cover.jpeg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    color:white;
    z-index:1000;
    overflow:hidden;
}

.section-head__contact {
    position: absolute;
    top:5%;
    left:3%;
    opacity:0;
    font-size: 2rem;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    animation-duration: 0.5s;
    animation-name: fadeIn;
}

.section-head__contact a,
.section-head__contact a:link,
.section-head__contact a:visited {
    color:#cfd8dc;
    text-decoration: none;
    margin:3px;
}

.section-head__contact a>i{
    transition:all 0.3s;
}

.section-head__contact-github:hover i{
    color: #6cc644;
}

.section-head__contact-linkedin:hover i{
    color: #0077b5;
}

