.about-pic{
    margin:2rem 2rem 1rem 2rem;
    width:30%;
    float:left;
}

.featured-project-tech-pic {
    height:2.5rem;
    transform: translateY(30%);
    margin-right: 1rem;
}

.recommendation-pic {
    float:left;
    height: 4.9rem;
    border-radius: 50%;
    margin-right:5.6rem;
    transition: all 0.5s;
}

.business-card {
    position:absolute;
    display:none;
    top:0%;
    width:100%;
    transform: translateX(150%);
    opacity: 0;
}

.business-card img{
    display:block;
    max-width:100%;
    max-height:100%;
    left: 0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;

}

.business-card.show-contact{
    display:flex;
    justify-content: center;
    align-content: center;
    transform: translateX(0%);
    opacity: 1;
}

@media (max-width:1000px){
    .about-pic{
        width:65%;
        margin:2rem auto;
        float:none;
    }
}

@media (max-width:700px){
    .about-pic{
        width:100%;
        margin:2rem auto;
        float:none;
    }

}