/*HEADER SECTION*/
.section-head{
    position:relative;
    background-image: linear-gradient(to right bottom,rgba(100,181,246,.7),rgba(55,71,79,.7)),url(../images/cover.jpeg);
    background-size: cover;
    height: 80vh;
    color:white;
    z-index:1000;
}

.section-head__contact {
    position: absolute;
    top:5%;
    left:3%;
    opacity:0;
    font-size: 2rem;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    animation-duration: 0.5s;
    animation-name: fadeIn;
}

.section-head__contact a,
.section-head__contact a:link,
.section-head__contact a:visited {
    color:#cfd8dc;
    text-decoration: none;
    margin:3px;
}

.section-head__contact a>i{
    transition:all 0.3s;
}

.section-head__contact-github:hover i{
    color: #6cc644;
}

.section-head__contact-linkedin:hover i{
    color: #0077b5;
}

/**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************/

/* ABOUT SECTION */
.section-about{
    position:absolute;
    background-color:white;
    top: 83vh;
    margin:2rem;
    text-align: center;
    opacity: 0;
    transform: translateX(-150%);
    box-shadow: 0.2rem 0.5rem 1rem rgba(0,0,0,0.8);
    transition: all 1.5s;
    z-index: 100;
}

.section-about p{
    text-align: left;
    margin: 25px;
}

.section-about p:last-child{
    padding: 15px;
}

/**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************/

/* CONTACT SECTION */
.section-contact{
    position:absolute;
    background-color:white;
    top: 83vh;
    margin:2rem;
    text-align: center;
    opacity: 0;
    transform: translateX(-150%);
    box-shadow: 0.2rem 0.5rem 1rem rgba(0,0,0,0.8);
    transition: all 1.5s;
    z-index: 100;
    width:93%;
    padding:2rem;
    background-image: linear-gradient(to right bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 60%,transparent),url(../images/dallas-skyline.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-contact p{
    text-align: left;
    margin: 25px;
}

.section-contact p:last-child{
    padding: 15px;
}

.section-contact__content {
    display:flex;
    justify-content:space-between;
    width: 100%;    
}

.section-contact__column{
    background-color:transparent;
    width: 50%;
    text-align:left;
}

.section-contact__column:last-child{
    position: relative;
}

.section-contact__column .word-content {
    color:#384952;
}

.social_links-point {
    color:#384952;
    text-decoration: none;
    margin:3px;    
    font-size: 5rem;
    transition:all 0.5s;
}

.social_links-point i {
    transition: all 0.5s;
}

.social_links {
    display:flex;
    justify-content:space-around;
}

.social_links-point:hover{
    transform:translateY(-1rem) scale(1.1);
}

.social_links-point.social_links-github:hover i{
    color: #6cc644;
}

.social_links-point.social_links-linkedin:hover i{
    color: #0077b5;
}

.social_links-point.social_links-email:hover i {
    color:rgb(219,34,51);
    cursor:pointer;
}
.social_links-point.social_links-resume:hover i{
    color:#bf5700;
}
.social_links-point.social_links-business-card:hover i{
    color:#7b1fa2;
    cursor:pointer;
}

.section-contact hr {
    outline:none;
    border:none;
    height: 4px;
    margin:4rem 0rem;
    background-image: linear-gradient(to right,rgba(55,71,79,.05) 0%,rgba(100,181,246,.8) 50%,rgba(55,71,79,.05) 100%);
}

/**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************/

/* PROJECTS SECTION */

.section-projects{
    position:absolute;
    background-color:white;
    top: 83vh;
    margin:2rem;
    height:260vh;
    text-align: center;
    opacity: 0;
    transform: translateX(-150%);
    box-shadow: 0.2rem 0.5rem 1rem rgba(0,0,0,0.8);
    transition: all 1.5s;
    width: 92%;
    z-index: 1;
    padding:4rem;
    overflow-x:hidden;
}

.section-projects .heading-main {
    margin-top: 0px;
}

.section-projects p{
    text-align: left;
    margin: 25px;
}

.section-projects-github {
    font-size: 3.5rem;
    float: left;
}

.section-projects-github a,
.section-projects-github a:link,
.section-projects-github a:visited {
    color:#cfd8dc;
    text-decoration: none;
    margin:3px;
    margin-bottom:2rem;
}

.section-projects-github a>i{
    transition:all 0.3s;
}

.section-projects-github a:hover i{
    color: #6cc644;
}

/**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************/

/* RECOMMENDATIONS SECTION */

.section-recommendations{
    position:absolute;
    background-color:white;
    top: 83vh;
    margin:2rem;
    text-align: center;
    opacity: 0;
    transform: translateX(-150%);
    box-shadow: 0.2rem 0.5rem 1rem rgba(0,0,0,0.8);
    transition: all 1.5s;
    z-index: 100;
    padding:3rem;
    background-image: linear-gradient(to right bottom,rgba(45,72,97,.5) 0%,rgba(55,71,79,.5) 70%,#64b5f6 100%),url(../images/cover.jpeg);
    background-size:initial;
}

.section-recommendations .heading-main {
    color: #fdd835;
}

.section-recommendations p{
    text-align: left;
}

.recommendation-card{
    border-radius: 10px;
    width:80%;
    margin:5rem auto;
    transition: all 0.5s;
    padding:3rem;
    box-shadow: 0rem 0rem 1rem rgba(0,0,0,0.3);
    background-color:white;
}

.recommendation-card:hover {
    transform: scale(1.01);
    box-shadow: 0rem 0rem 3rem rgba(0,0,0,0.3);
}

.recommendation-card:hover .recommendation-pic{
    transform: scale(1.2);
}


.profile .name {
    font-size: 2rem;
    transform: translateY(80%);
    font-weight: 700;
}

.recommendation-card:hover .name {
    text-decoration:underline;
}

.profile::after {
    content: "";
    clear: both;
    display:block;
}

/**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************/

/* SKILLS SECTION */

.section-skills{
    position:absolute;
    background-color:white;
    top: 83vh;
    margin:2rem;
    text-align: center;
    opacity: 0;
    transform: translateX(-150%);
    box-shadow: 0.2rem 0.5rem 1rem rgba(0,0,0,0.8);
    transition: all 1.5s;
    z-index: 10;
    width: 92%;
    padding: 4rem;
}

.section-skills .heading-main{
    margin-top: 15px;
}

.section-skills p:last-child{
    padding: 15px;
}

.table {
    float:right;
    margin:0px;
}

.carousel{
    float:left;
    margin:0px;
}

.section-skills-linkedin {
    font-size: 3.5rem;
}

.section-skills-linkedin a,
.section-skills-linkedin a:link,
.section-skills-linkedin a:visited {
    color:#cfd8dc;
    text-decoration: none;
    margin:3px;
    margin-bottom:2rem;
}

.section-skills-linkedin a>i{
    transition:all 0.3s;
}

.section-skills-linkedin a:hover {
    transform: scale(1.2);
}

.section-skills-linkedin a:hover i{
    color: #0077b5;
}
