/**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************/

/*OVERALL SITE STRUCTURE*/
html {
    font-size:62.5%;
    font-family: "Roboto Slab",serif;
}

body {
    margin:20px;
    position: relative;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;    
}

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #90a4ae;
    border:none;
    transition:background-color,1.5s;
}

body::-webkit-scrollbar
{
    width: 15px;
    background-color: #90a4ae;
    border:none;
    transition:background-color,1.5s;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #37474f;
    transition:background-color,1.5s
}

/**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************/

/*HEADER SECTION*/
.section-head{
    position:relative;
    background-image: linear-gradient(to right bottom,rgba(100,181,246,.7),rgba(55,71,79,.7)),url(../images/cover.jpeg);
    background-size: cover;
    height: 80vh;
    color:white;
    z-index:1000;
}

.section-head__contact {
    position: absolute;
    top:5%;
    left:3%;
    opacity:0;
    font-size: 2rem;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    animation-duration: 0.5s;
    animation-name: fadeIn;
}

.section-head__contact a,
.section-head__contact a:link,
.section-head__contact a:visited {
    color:#cfd8dc;
    text-decoration: none;
    margin:3px;
}

.section-head__contact a>i{
    transition:all 0.3s;
}

.section-head__contact-github:hover i{
    color: #6cc644;
}

.section-head__contact-linkedin:hover i{
    color: #0077b5;
}

/**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************/

/* ABOUT SECTION */
.section-about{
    position:absolute;
    background-color:white;
    top: 83vh;
    margin:2rem;
    text-align: center;
    opacity: 0;
    transform: translateX(-150%);
    box-shadow: 0.2rem 0.5rem 1rem rgba(0,0,0,0.8);
    transition: all 1.5s;
    z-index: 100;
}

.section-about p{
    text-align: left;
    margin: 25px;
}

.section-about p:last-child{
    padding: 15px;
}

/**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************/

/* CONTACT SECTION */
.section-contact{
    position:absolute;
    background-color:white;
    top: 83vh;
    margin:2rem;
    text-align: center;
    opacity: 0;
    transform: translateX(-150%);
    box-shadow: 0.2rem 0.5rem 1rem rgba(0,0,0,0.8);
    transition: all 1.5s;
    z-index: 100;
    width:93%;
    padding:2rem;
    background-image: linear-gradient(to right bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 60%,transparent),url(../images/dallas-skyline.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-contact p{
    text-align: left;
    margin: 25px;
}

.section-contact p:last-child{
    padding: 15px;
}

.section-contact__content {
    display:flex;
    justify-content:space-between;
    width: 100%;    
}

.section-contact__column{
    background-color:transparent;
    width: 50%;
    text-align:left;
}

.section-contact__column:last-child{
    position: relative;
}

.section-contact__column .word-content {
    color:#384952;
}

.social_links-point {
    color:#384952;
    text-decoration: none;
    margin:3px;    
    font-size: 5rem;
    transition:all 0.5s;
}

.social_links-point i {
    transition: all 0.5s;
}

.social_links {
    display:flex;
    justify-content:space-around;
}

.social_links-point:hover{
    transform:translateY(-1rem) scale(1.1);
}

.social_links-point.social_links-github:hover i{
    color: #6cc644;
}

.social_links-point.social_links-linkedin:hover i{
    color: #0077b5;
}

.social_links-point.social_links-email:hover i {
    color:rgb(219,34,51);
    cursor:pointer;
}
.social_links-point.social_links-resume:hover i{
    color:#bf5700;
}
.social_links-point.social_links-business-card:hover i{
    color:#7b1fa2;
    cursor:pointer;
}

.section-contact hr {
    outline:none;
    border:none;
    height: 4px;
    margin:4rem 0rem;
    background-image: linear-gradient(to right,rgba(55,71,79,.05) 0%,rgba(100,181,246,.8) 50%,rgba(55,71,79,.05) 100%);
}

/**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************/

/* PROJECTS SECTION */

.section-projects{
    position:absolute;
    background-color:white;
    top: 83vh;
    margin:2rem;
    height:260vh;
    text-align: center;
    opacity: 0;
    transform: translateX(-150%);
    box-shadow: 0.2rem 0.5rem 1rem rgba(0,0,0,0.8);
    transition: all 1.5s;
    width: 92%;
    z-index: 1;
    padding:4rem;
    overflow-x:hidden;
}

.section-projects .heading-main {
    margin-top: 0px;
}

.section-projects p{
    text-align: left;
    margin: 25px;
}

.section-projects-github {
    font-size: 3.5rem;
    float: left;
}

.section-projects-github a,
.section-projects-github a:link,
.section-projects-github a:visited {
    color:#cfd8dc;
    text-decoration: none;
    margin:3px;
    margin-bottom:2rem;
}

.section-projects-github a>i{
    transition:all 0.3s;
}

.section-projects-github a:hover i{
    color: #6cc644;
}

/**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************/

/* RECOMMENDATIONS SECTION */

.section-recommendations{
    position:absolute;
    background-color:white;
    top: 83vh;
    margin:2rem;
    text-align: center;
    opacity: 0;
    transform: translateX(-150%);
    box-shadow: 0.2rem 0.5rem 1rem rgba(0,0,0,0.8);
    transition: all 1.5s;
    z-index: 100;
    padding:3rem;
    background-image: linear-gradient(to right bottom,rgba(45,72,97,.5) 0%,rgba(55,71,79,.5) 70%,#64b5f6 100%),url(../images/cover.jpeg);
    background-size:initial;
}

.section-recommendations .heading-main {
    color: #fdd835;
}

.section-recommendations p{
    text-align: left;
}

.recommendation-card{
    border-radius: 10px;
    width:80%;
    margin:5rem auto;
    transition: all 0.5s;
    padding:3rem;
    box-shadow: 0rem 0rem 1rem rgba(0,0,0,0.3);
    background-color:white;
}

.recommendation-card:hover {
    transform: scale(1.01);
    box-shadow: 0rem 0rem 3rem rgba(0,0,0,0.3);
}

.recommendation-card:hover .recommendation-pic{
    transform: scale(1.2);
}


.profile .name {
    font-size: 2rem;
    transform: translateY(80%);
    font-weight: 700;
}

.recommendation-card:hover .name {
    text-decoration:underline;
}

.profile::after {
    content: "";
    clear: both;
    display:block;
}

/**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************
**********************************************************************************************************************************/

/* SKILLS SECTION */

.section-skills{
    position:absolute;
    background-color:white;
    top: 83vh;
    margin:2rem;
    text-align: center;
    opacity: 0;
    transform: translateX(-150%);
    box-shadow: 0.2rem 0.5rem 1rem rgba(0,0,0,0.8);
    transition: all 1.5s;
    z-index: 10;
    width: 92%;
    padding: 4rem;
}

.section-skills .heading-main{
    margin-top: 15px;
}

.section-skills p:last-child{
    padding: 15px;
}

.table {
    float:right;
    margin:0px;
}

.carousel{
    float:left;
    margin:0px;
}

.section-skills-linkedin {
    font-size: 3.5rem;
}

.section-skills-linkedin a,
.section-skills-linkedin a:link,
.section-skills-linkedin a:visited {
    color:#cfd8dc;
    text-decoration: none;
    margin:3px;
    margin-bottom:2rem;
}

.section-skills-linkedin a>i{
    transition:all 0.3s;
}

.section-skills-linkedin a:hover {
    transform: scale(1.2);
}

.section-skills-linkedin a:hover i{
    color: #0077b5;
}

/****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************/
/*TITLES COMPONENTS*/

.section-head__name {
    position:absolute;
    top:0%;
    left:50%;
    opacity:0;
    font-weight:700;
    transform: translate(-50%,-50%) scale(0.9);
    font-size: 8rem;
    letter-spacing: 0.3rem;
    text-shadow: 0rem 0rem 2rem rgba(0,0,0,0.8);
    animation-fill-mode:forwards;
    animation-duration: 2s;
    animation-name:top_bottom;
    animation-delay: 2s;
}

.section-head__profession {
    letter-spacing: 0.5rem;
    position:absolute;
    top:90%;
    left:50%;
    opacity:0;
    animation-delay: 2s;
    transform: translate(-50%,-50%) scale(0.9);   
    font-size: 4rem; 
    text-shadow: 0rem 0rem 1rem rgba(0,0,0,0.8);
    animation-fill-mode:forwards;
    animation-duration: 2s;
    animation-name:bottom_top;    
}

.heading-main {
    margin:5rem 0rem;
    font-size:5rem;
    text-transform:uppercase;
    font-weight:300;
    display:inline-block;
    background-image:linear-gradient(to right,#64b5f6,#37474f);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing:5px;
    transition:all 0.2s;
    text-shadow: 0rem 0rem 1.5rem rgba(0,0,0,.3);
}

.heading-main:hover {
    transform: scale(1.3);
    text-shadow: 0rem 0rem 3rem rgba(0,0,0,.3);
}

.heading-sub {
    font-size:3rem;
    text-transform:uppercase;
    font-weight:300;
    display:inline-block;
    background-image:linear-gradient(to right,#64b5f6,#37474f);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing:5px;
    transition:all 0.5s;
}

.heading-sub:hover {
    text-shadow: 0rem 0rem 3rem rgba(0,0,0,.3);
}

.featured-project-title{
    background-image:linear-gradient(to right,#64b5f6,#37474f);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing:5px;
    transition:all 0.2s;
    font-weight: 700;
    text-transform:uppercase;
    text-shadow: 0rem 0rem 1.5rem rgba(0,0,0,.3);
    font-size: 6rem;  
    margin:4rem 0;
}

.featured-project-title:hover {
    transform: rotateX(10deg) rotateY(25deg) skewX(5deg) scale(1.01);
    text-shadow: 0rem 0rem 3rem rgba(0,0,0,.6);
}

.heading-sub__role-list {
    font-size:3rem;
    text-transform:uppercase;
    font-weight:300;
    display:inline-block;
    background-image:linear-gradient(to right,#64b5f6,#37474f);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing:5px;
    transition:all 0.5s;    
}

.heading-sub__role {
    font-size:3rem;
    text-transform:uppercase;
    font-weight:300;
    display:inline-block;
    background-image:linear-gradient(to right,#64b5f6,#37474f);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing:5px;
    transition:all 0.5s;    
}

.heading-sub__role:hover {
    transform: scale(1.10);
}


.success-message {
    font-size:4rem;
    color:white;
    text-transform: uppercase;
    position:absolute;
    top:25%;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80% !important;
    padding:0px;
    margin:0px;
    width:max-content;
}

.content_title{
    font-size:4rem;
    text-align:center;
    background-image:linear-gradient(to left top,rgb(0,119,181),rgb(55,71,79));
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
    text-transform: uppercase;   
}

.section-contact__column:first-child.content_title{
    margin-top:2rem;
}

/****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************/
/*PICTURES COMPONENTS*/

.about-pic{
    margin:2rem 2rem 1rem 2rem;
    width:30%;
    float:left;
}

.featured-project-tech-pic {
    height:2.5rem;
    transform: translateY(30%);
    margin-right: 1rem;
}

.recommendation-pic {
    float:left;
    height: 4.9rem;
    border-radius: 50%;
    margin-right:5.6rem;
    transition: all 0.5s;
}

.business-card {
    position:absolute;
    display:none;
    top:0%;
    width:100%;
    transform: translateX(150%);
    opacity: 0;
}

.business-card.show-contact{
    display:flex;
    justify-content: center;
    align-content: center;
    transform: translateX(0%);
    opacity: 1;
}

/****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************/
/*TYPOGRAPHY COMPONENTS*/

.word-content {
    font-size: 2rem;
    align-content:left;
    color: #607d8b;
}

.quote {
    align-content:left;
    font-size:3.1rem;
    font-weight:700;
    transform: skewX(-10deg);
    color:#2D4861;
    margin-bottom:2.4rem;
}

.quote-marker {
    margin-right:1.6rem;
    font-size: 15rem !important;
    float:left;
    background-image:linear-gradient(to left top,rgba(0,119,181,0.5),rgba(55,71,79,0.5));
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

/****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************/
/*TOOLTIP COMPONENTS*/

/* parent div for tooltips */
.tooltip {
    position: relative;
}

.tooltip .tooltip-content {
    position: absolute;
    visibility: hidden;
    color: #64b5f6;

    font-size: 1.5rem;
    padding: 5px;
    transition: all 0.5s;
    overflow-x: hidden;
    overflow-y:hidden;
}

/* right tooltip */
.tooltip .tooltip-content.tooltip-content-right {
    left: 130%;
    top: 0%;
    width: 200px;
    background-color: rgb(55,71,79);    
}

.tooltip:hover .tooltip-content.tooltip-content-right {
    visibility:visible;
}

/* left tooltip */
.tooltip .tooltip-content.tooltip-content-left {
    right: 130%;
    top: 0%;
    width: 200px;
    background-color: rgb(55,71,79);    
}

.tooltip:hover .tooltip-content.tooltip-content-left {
    visibility:visible;
}

/* top tooltip */
.tooltip .tooltip-content.tooltip-content-top {
    left:-50%;
    top: -50%;
    width:200%;
    background-color: rgb(55,71,79);
    opacity: 1;  
}


.tooltip:hover .tooltip-content.tooltip-content-top{
    visibility:visible;
}

/* bottom tooltip */

.tooltip .tooltip-content.tooltip-content-bottom {
    left:-30%;
    top: 120%;
    width:140%;
    text-align:center;
    background-color: rgb(55,71,79);
    opacity: 1;  
}

.tooltip:hover .tooltip-content.tooltip-content-bottom{
    visibility:visible;
}
/* custom
.tooltip .listen {
    position: absolute;
    top:5%;
    left:95%;
    opacity:1;
    font-size: 5rem;
    transition: all 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    animation-duration: 0.5s;
    animation-name: fadeIn;
}

.tooltip:hover .listen {
    color: rgb(219,34,51);
    transform: scale(1.1);
    text-shadow: 0rem 0rem 3rem rgba(219,34,51,0.8);
} */


/****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************/
/*CAROUSEL COMPONENTS*/

.section-skills__carousel {
    width:100%;
    overflow:hidden;
    margin-bottom: 2rem;
}
  
.section-skills__carousel-row {
    width:700%;
    height:25rem;
}

/* for viewing the carousel in grid format */
.table-active {
    background-image: linear-gradient(to right bottom,rgba(100,181,246,.7),rgba(55,71,79,.7)),url(../images/cover.jpeg);
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    width:100%;
    height:100%;
    flex-basis:29%;
    margin:5% 2% 5% 0%;
}

.carousel-active .skill_box{
    margin-top:2rem;
}

.table-active .skill_box {
    background-color:rgba(255,255,255,0.8);
    margin:1%;
}

.table-active .skill_box:hover {
    transform: scale(1.09);
    background-color:rgba(255,255,255,1);
}

.section-skills__carousel-row div{
    float:left;
}

.skill_box {
    width:25rem;
    height:15rem;
    margin:1rem;
    padding:3rem;
    border-radius: 15px;
    text-align:center;
    background-color:rgba(207,216,220,0.45);
    box-shadow: inset 0rem 0rem 2rem rgba(0,0,0,0.5), 0rem 0rem 2rem rgba(0,0,0,0.5);
    transition:all 0.5s;    
}

.skill_box__icon{
    font-size: 10rem !important;
    background-image:linear-gradient(to right,#64b5f6,#37474f);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display:block;
}

.skill_title {
    margin-top: 2rem;
    font-size:1.5rem;
    text-transform:uppercase;
    font-weight:700;
    display:inline-block;
    color: #90a4ae;
    letter-spacing:5px;
    transition:all 0.5s;
}

/****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************/
/*BUTTONS COMPONENTS*/


.btn.btn-toggle{
    font-size: 2rem;
    color: #fdd835;
    background-color: rgba(55,71,79,.7);
    padding: 3rem;
    border-radius:5px;
    transition: all 0.3s;
}

.btn.btn-toggle:hover{
    color: #64b5f6;
    text-shadow: 0rem 0rem 2rem rgba(100,181,246,0.4)
}

.btn.btn-circle{
    background-color: rgb(55,71,79);
    color:white;
    float:right;
    border-radius:50%;
    font-size:4rem;
    padding:0px 10px;
    transition: all 0.4s;
}

.btn.btn-circle:hover {
    background-color:#64b5f6;
    transform: scale(1.4);
    text-shadow: 0rem 0rem 4rem white;
}

.btn.btn-circle:hover .tooltip-content{
    transform: scale(calc(1/1.4));
}

.featured-project-button{
    margin:1rem 0;
    background-image: linear-gradient(to right bottom,rgba(100,181,246,.7),rgba(55,71,79,.7)),url(../images/cover.jpeg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    font-size:2rem;
    padding:3rem;
    border-radius:15px;
    text-decoration:none;
    text-transform: uppercase;
    color:white;
    width:38%;
}

.featured-project-button:hover{
    color:#64b5f6;
    background-image: linear-gradient(to right bottom,rgba(55,71,79,.7),rgba(55,71,79,.7)),url(../images/cover.jpeg);    
}

.form-button {
    text-align: center;
    padding:3rem 0rem;
    font-size:5rem;
    border-radius:15px;
    width:100%;
    background-color:transparent;
    background-image:linear-gradient(to right,rgba(55,71,79,.7),rgba(55,71,79,.7));
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    color: #fdd835;
    text-transform: uppercase;
    transition: all 0.5s;
    outline:none;
    border:none;
}

.form-button:hover{
    background-image:linear-gradient(to right,rgba(100,181,246,0.5),rgba(100,181,246,0.5)),url(../images/cover.jpeg);
    transform: scale(1.02);
}

/****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************/
/*IMAGE GALLERY COMPONENTS*/

.image-gallery{
    width:100%;
    height:30vh;
    display:flex;
    flex-wrap:nowrap;
    flex-basis:16%;
    justify-content: space-around;
}
.image-gallery .img_container{
    width:100%;
    height:58%;
    opacity:.7;
    position:relative;
    transition: all 0.5s;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;                
}
.image-gallery .img_container img{
    width:100%;
    height:100%;
}            
.image-gallery .img_container:nth-child(1){
    background-image:url("../images/Chatty.PNG");                
}
.image-gallery .img_container:nth-child(2){
    background-image:url("../images/checkers.PNG");               
}          
.image-gallery .img_container:nth-child(3){
    background-image:url("../images/emotionalexplorers.PNG");
}
.image-gallery .img_container:nth-child(4){
    background-image:url("../images/HelpNow.PNG");
}
.image-gallery .img_container:nth-child(5){
    background-image:url("../images/newyorktimes.PNG");
}          
.image-gallery .img_container:nth-child(6){
    background-image:url("../images/techcentral.PNG");
}

.image-gallery .img_container.focused {
    width:100%;
    height:100%;            
}
.image-gallery .img_container.out-of-focus {
    width:10%;
    height:10%;
}            
.image-gallery .img_container:hover {
    transform: translateY(-30%);
    cursor : pointer;
    opacity : 1;    
    margin:15px;
}
.image-gallery .img_container.focused:hover {
    transform: translateY(0%);
}
p[class^="caption-"] {
    color:white;
    position:absolute;
    opacity: 0;
    display:none;
    transition: all 0.5s;
}

.image-gallery .img_container p[class^="caption-"]:nth-child(1) {
    top: 15%;
}
.image-gallery .img_container p[class^="caption-"]:nth-child(2) {
    top: 30%;
}
.image-gallery .img_container p[class^="caption-"]:nth-child(3) {
    top: 45%;
}            
.image-gallery .img_container p[class^="caption-"]:nth-child(4) {
    top: 80%;
}
.image-gallery .img_container.focused p[class^="caption-"]{
    opacity:1;
    display:block;
}

.image-gallery .img_container i {
    position:absolute;
    top:10%;
    right:5%;
    opacity:0;
    display:none;
    color:rgb(219,34,51);
    font-size:3rem;
}

.image-gallery .img_container.focused i {
    opacity:1;
    display:block;
}

.preChoice {
    height: 5rem;
    opacity:0;
    transform: translateX(-200%);
    transition:all 0.2s;
}

.preChoice.in {
    opacity:1;
    transform:translateX(0%);
}

.preChoice.out {
    opacity:0;
    transform:translateX(200%);
}

.img_container.chosen{
    opacity:1 !important;
    transform: translateY(-30%);
    cursor : pointer;
    opacity : 1;    
    margin: 15px;    
}

/****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************/
/*NAVIGATION COMPONENTS*/

.section-head__nav{
    position:absolute;
    top:90%;
    width:100%;
}

.section-head__nav.fixed {
    width:97.35%;
    position:fixed;
    background-image:linear-gradient(to right bottom,rgba(100,181,246,.7),rgba(55,71,79,.7)),url("../images/cover.jpeg");
    background-size:initial;
    top:0;   
}

.section-head__nav-item{
    cursor: pointer;
    line-height:240%;
    float:left;
    padding:0% 0% 0% 0%;
    width:20%;
    text-align:center;
    color:white;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-decoration:none;
    opacity:0;
    animation-name:fadeIn;
    animation-duration:0.5s;
    animation-fill-mode: forwards;
    background-image: linear-gradient(90deg, transparent 0%, transparent 50%, white 50%);
    background-size:220%;
    transition: all 0.4s;    
}

.section-head__nav-item:nth-child(1){
    animation-delay:4.5s;
}

.section-head__nav-item:nth-child(2){
    animation-delay:4.9s;
}

.section-head__nav-item:nth-child(3){
    animation-delay:5.3s;
}

.section-head__nav-item:nth-child(4){
    animation-delay:5.7s;
}

.section-head__nav-item:nth-child(5){
    animation-delay:6.1s;
}

.section-head__nav-item:hover{
    background-position: 100%;
    color:#64b5f6;
    line-height:120%;
    padding:0% 0% 2% 0%;
    text-shadow: 0rem 0rem 1rem rgba(0,0,0,0.3);
}

.section-head__nav-item.active{
    color: #fdd835;
    border-radius:5px 5px 0px 0px;
    background-color: rgba(55,71,79,.7);
    background-image: linear-gradient(90deg, rgba(55,71,79,.7) 0%, rgba(55,71,79,.7) 50%, rgba(55,71,79,.7) 50%)
}


/****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************/
/*PROJECT SHEETS COMPONENTS*/

.section-projects__sheets {
    position: relative;
    height:150vh;
}

.project-sheet {
    border-radius:15px;
    opacity:0;
    margin: 15px;
    position: absolute;
    width: 65%;
    top: 0%;
    transform: translateX(-100%);
    box-shadow: inset 0rem 0rem 2rem rgba(0,0,0,0.5), 0rem 0rem 2rem rgba(0,0,0,0.5);
    transition: all 0.3s;
}

.project-sheet.shown {
    transform: translateX(25%);
    opacity: 1;
}

.project-sheet .featured-project-pic {
    width: 90%;
}

.project-sheet .featured-project-tech>li:not(:first-child) {
    margin-top: 1.5rem;
}

.project-sheet .featured-project-tech>li:not(:last-child) {
    border-bottom:1.5px solid #cfd8dc;
}

.project-sheet .featured-project-tech>li {
    padding:0px 0px 8px;
    width:75%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-size:1.3rem;
    color: #90a4ae;  
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 700;
    transition: all 0.3s;
}

.project-sheet .featured-project-tech>li:hover {
    color: #64b5f6;  
    text-shadow: 0rem 0rem 4rem rgba(100,181,246,0.3)
}

.project-sheet .heading-sub{
    margin-top:1.5rem;
}

.featured-project-descr{
    font-size: 2rem;
    width:90%;
    margin:0 auto;
    color: rgb(55,71,79)
}

.featured-projects-links{
    margin-top:1.5rem;
    display:flex;
    justify-content:space-around;
    margin-left: auto;
    margin-right: auto;  
    width: 80%;
      
}

/****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************/
/*PROJECT SHEETS COMPONENTS*/

.form-group {
    margin:1rem 0rem;
}

.form-user-input {
    padding:1.5rem;
    width:100%;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;
    font-size: 2rem;
    font-family: "Roboto Slab",serif;    
}

.form-user-input {
    border-bottom: 3px solid transparent;
    padding: 1rem;
    transition: all 0.3s;
    background-color:rgba(255,255,255,1);
}

.form-user-input:placeholder-shown {
    background-color:rgba(255,255,255,0.5);
}

.form-user-input:focus {
    background-color:rgba(255,255,255,1);
    border-bottom: 3px solid rgb(100,181,246);
    outline:none;
}

.form-user-input:focus:invalid {
    border-bottom: 3px solid rgb(219,34,51);
}

.form-user-input::-webkit-input-placeholder {
    font-size: 2rem;
    font-family: "Roboto Slab",serif;
}

.form-user-input + label {
    margin: 1rem;
    font-size: 1.2rem;

    display: block;
    transition: all 0.3s;
}

.form-user-input:placeholder-shown + label {
    transform: translateY(-3rem);
    font-size: 2rem;
    opacity:0;
}

#message {
    height:15rem;
}

#message + label {
    margin: 1rem;

    display: block;
    transition: all 0.3s;
}

#message:placeholder-shown + label {
    transform: translateY(-16rem);
    margin-bottom:1rem;
    font-size: 2rem;
    opacity:0;
}

.email-form{
    transform: translateX(150%);
    opacity: 0;
    width: 0%;
}

.email-form.show-contact{
    width:100%;
    opacity:1;
    transform: translateX(0%);   
}


/****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************/
/*SUCCESS OVERLAY COMPONENT*/

.success-overlay{
    position:absolute;
    top:0%;
    left:0%;
    background:linear-gradient(to right bottom, #64b5f6,#37474f);
    display:none;
    z-index:10000;
    text-align: center;
}

.popup{
    width:100%;
    height:100%;    
    display:block;
}


/****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************
****************************************************************************************************************/
/*ANIMATIONS*/

/* PURELY FOR NAME SLIDE IN */
@keyframes top_bottom {
    0%{
        top:0%;
        left:50%;
        opacity:0;
        transform: translate(-50%,-50%) scale(0.9);
    }
    30%{
        top:20%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(0.9);        
    } 
    70%{
        top:20%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(1.1);        
    }
    90%{
        top:20%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(1.1);        
    } 
    100%{
        top:20%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(1);
    }
}

/* PURELY FOR PROFESSION SLIDE IN */
@keyframes bottom_top {
    0%{
        top:90%;
        left:50%;
        opacity:0;
        transform: translate(-50%,-50%) scale(0.9);
    }
    30%{
        top:50%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(0.9);        
    }       
    70%{
        top:50%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(1.1);        
    }
    90%{
        top:50%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(1.1);        
    }     
    100%{
        top:50%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(1);        
    }
}

/* FOR ANIMATING VISIBILITY TRANSITION */
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* FOR SECTIONS - SLIDE IN PROPERTIES */
.show_horizontal {
    opacity: 1;
    transform: translateX(0%);
}

/* CLASS FOR CAROUSEL ANIMATION */
.carousel-active {
    -webkit-animation: css-carousel 40s linear infinite;
    -moz-animation: css-carousel 40s linear infinite;
    -ms-animation: css-carousel 40s linear infinite;
    animation: css-carousel 40s linear infinite;    
}
.carousel-active:hover{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}
/* CAROUSEL ANIMATION - TIMING */
@keyframes css-carousel {
    0%, 3% {margin-left:0}
    4%, 7% { margin-left:-44%; }
    8%, 11% { margin-left:-88%; }  
    12%, 15% { margin-left:-132%; }    
    16%, 19% { margin-left:-176%; }    
    20%, 23% { margin-left:-220%; }    
    24%, 27% { margin-left:-264%; }    
    28%, 31% { margin-left:-308%; }    
    32%, 35% { margin-left:-352%; }
    36%, 39% { margin-left:-396%; }    
    40%, 43% { margin-left:-440%; }    
    44%, 47% { margin-left:-484%; }    
    48%, 51% { margin-left:-440%; }    
    52%, 55% { margin-left:-396%; }    
    56%, 59% { margin-left:-352%; }
    60%, 63% { margin-left:-308%; }
    64%, 67% { margin-left:-264%; }  
    68%, 71% { margin-left:-220%; }  
    72%, 75% { margin-left:-176%; }  
    76%, 79% { margin-left:-132%; }  
    80%, 83% { margin-left:-88%; }  
    84%, 87% { margin-left:-44%; }  
    88%, 100% { margin-left:0%; }  
}
