/* //$color-primary: #0091ea;
$color-primary-light:#64b5f6;
$color-primary-dark: #37474f; */

@import url("about.css");
@import url("skills.css");
@import url("projects.css");
@import url("recommendations.css");
@import url("contact.css");

@import url("header.css");
@import url("titles.css");
@import url("footer.css");
@import url("pictures.css");

@import url("content.css");
@import url("tooltip.css");
@import url("carousel.css");
@import url("buttons.css");
@import url("image-gallery.css");
@import url("navigation.css");
@import url("project-sheets.css");
@import url("email-form.css");
@import url("success-overlay.css");

@import url("animations.css");

html {
    font-size:62.5%;
    font-family: "Roboto Slab",serif;
}

body {
    margin:20px;
    position: relative;
}

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #90a4ae;
    border:none;
    transition:background-color,1.5s;
}

body::-webkit-scrollbar
{
    width: 15px;
    background-color: #90a4ae;
    border:none;
    transition:background-color,1.5s;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #37474f;
    transition:background-color,1.5s
}