/* PURELY FOR NAME SLIDE IN */
@keyframes top_bottom {
    0%{
        top:0%;
        left:50%;
        opacity:0;
        transform: translate(-50%,-50%) scale(0.9);
    }
    30%{
        top:20%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(0.9);        
    } 
    70%{
        top:20%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(1.1);        
    }
    90%{
        top:20%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(1.1);        
    } 
    100%{
        top:20%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(1);
    }
}

/* PURELY FOR PROFESSION SLIDE IN */
@keyframes bottom_top {
    0%{
        top:90%;
        left:50%;
        opacity:0;
        transform: translate(-50%,-50%) scale(0.9);
    }
    30%{
        top:50%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(0.9);        
    }       
    70%{
        top:50%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(1.1);        
    }
    90%{
        top:50%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(1.1);        
    }     
    100%{
        top:50%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(1);        
    }
}

/* FOR ANIMATING VISIBILITY TRANSITION */
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* FOR SECTIONS - SLIDE IN PROPERTIES */
.show_horizontal {
    opacity: 1;
    transform: translateX(0%);
}

/* CLASS FOR CAROUSEL ANIMATION */
.carousel-active {
    -webkit-animation: css-carousel 40s linear infinite;
    -moz-animation: css-carousel 40s linear infinite;
    -ms-animation: css-carousel 40s linear infinite;
    animation: css-carousel 40s linear infinite;    
}
/* CAROUSEL ANIMATION - TIMING */
@keyframes css-carousel {
    0%, 3% {margin-left:0}
    4%, 7% { margin-left:-44%; }
    8%, 11% { margin-left:-88%; }  
    12%, 15% { margin-left:-132%; }    
    16%, 19% { margin-left:-176%; }    
    20%, 23% { margin-left:-220%; }    
    24%, 27% { margin-left:-264%; }    
    28%, 31% { margin-left:-308%; }    
    32%, 35% { margin-left:-352%; }
    36%, 39% { margin-left:-396%; }    
    40%, 43% { margin-left:-440%; }    
    44%, 47% { margin-left:-484%; }    
    48%, 51% { margin-left:-440%; }    
    52%, 55% { margin-left:-396%; }    
    56%, 59% { margin-left:-352%; }
    60%, 63% { margin-left:-308%; }
    64%, 67% { margin-left:-264%; }  
    68%, 71% { margin-left:-220%; }  
    72%, 75% { margin-left:-176%; }  
    76%, 79% { margin-left:-132%; }  
    80%, 83% { margin-left:-88%; }  
    84%, 87% { margin-left:-44%; }  
    88%, 100% { margin-left:0%; }  
}

