.section-skills{
    position:absolute;
    background-color:white;
    top: 83vh;
    margin:2rem;
    text-align: center;
    opacity: 0;
    transform: translateX(-150%);
    box-shadow: 0.2rem 0.5rem 1rem rgba(0,0,0,0.8);
    transition: all 1.5s;
    z-index: 1;
    width: 92%;
    padding: 4rem;
}

.section-skills .heading-main{
    margin-top: 15px;
}

.section-skills p:last-child{
    padding: 15px;
}

.table {
    float:right;
    margin:0px;
}

.carousel{
    float:left;
    margin:0px;
}

.section-skills-linkedin {
    font-size: 3.5rem;
}

.section-skills-linkedin a,
.section-skills-linkedin a:link,
.section-skills-linkedin a:visited {
    color:#cfd8dc;
    text-decoration: none;
    margin:3px;
    margin-bottom:2rem;
}

.section-skills-linkedin a>i{
    transition:all 0.3s;
}

.section-skills-linkedin a:hover i{
    color: #0077b5;
}
