/* //$color-primary: #0091ea;
$color-primary-light:#64b5f6;
$color-primary-dark: #37474f; */

html {
    font-size:62.5%;
    font-family: "Roboto Slab",serif;
}

.section-head{
    position:relative;
    background-image: linear-gradient(to right bottom,rgba(100,181,246,.7),rgba(55,71,79,.7)),url(../images/cover.jpeg);
    background-size: cover;
    height: 80vh;
    color:white;
}

.section-head__name {
    position:absolute;
    top:0%;
    left:50%;
    opacity:0;
    transform: translate(-50%,-50%) scale(0.9);
    font-size: 8rem;
    letter-spacing: 0.3rem;
    text-shadow: 0rem 0rem 2rem rgba(0,0,0,0.8);
    animation-fill-mode:forwards;
    animation-duration: 2s;
    animation-name:top_bottom;
}

@keyframes top_bottom {
    0%{
        top:0%;
        left:50%;
        opacity:0;
        transform: translate(-50%,-50%) scale(0.9);
    }
    30%{
        top:30%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(0.9);        
    } 
    70%{
        top:30%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(1.1);        
    }    
    90%{
        top:30%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(1.1);        
    } 
    100%{
        top:30%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(1);
    }
}

.section-head__profession {
    letter-spacing: 0.5rem;
    position:absolute;
    top:90%;
    left:50%;
    transform: translate(-50%,-50%) scale(0.9);   
    font-size: 4rem; 
    text-shadow: 0rem 0rem 1rem rgba(0,0,0,0.8);
    animation-fill-mode:forwards;
    animation-duration: 2s;
    animation-name:bottom_top;    
}

@keyframes bottom_top {
    0%{
        top:90%;
        left:50%;
        opacity:0;
        transform: translate(-50%,-50%) scale(0.9);
    }
    30%{
        top:60%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(0.9);        
    }       
    70%{
        top:60%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(1.1);        
    }
    90%{
        top:60%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(1.1);        
    }     
    100%{
        top:60%;
        left:50%;
        opacity:1;
        transform: translate(-50%,-50%) scale(1);        
    }
}

.section-head__contact {
    position: absolute;
    top:5%;
    left:3%;
    opacity:0;
    font-size: 2rem;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    animation-duration: 0.5s;
    animation-name: fadeIn;
}

.section-head__contact a,
.section-head__contact a:link,
.section-head__contact a:visited {
    color:#cfd8dc;
    text-decoration: none;
    margin:3px;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.section-head__contact a>i{
    transition:all 0.3s;
}

.section-head__contact-github:hover i{
    color: #6cc644;
}

.section-head__contact-linkedin:hover i{
    color: #0077b5;
}

.section-head__nav{
    position:absolute;
    top:90%;
    width:100%;
}

.section-head__nav-item{
    float:left;
    padding:0% 0% 10% 0%;
    width:25%;
    text-align:center;
    color:white;
    font-size: 3rem;
    text-transform: uppercase;
    text-decoration:none;
    opacity:0;
    animation-name:fadeIn;
    animation-duration:0.5s;
    animation-fill-mode: forwards;    
}

.section-head__nav-item:nth-child(1){
    animation-delay:3s;
}

.section-head__nav-item:nth-child(2){
    animation-delay:3.2s;
}

.section-head__nav-item:nth-child(3){
    animation-delay:3.4s;
}

.section-head__nav-item:nth-child(4){
    animation-delay:3.6s;
}

.section-head__nav-item:hover{
    background-color:white;
    color:#37474f;
}