/* parent div for tooltips */
.tooltip {
    position: relative;
}

.tooltip .tooltip-content {
    position: absolute;
    visibility: hidden;
    color: #64b5f6;

    font-size: 1.5rem;
    padding: 5px;
    transition: all 0.5s;
    overflow-x: hidden;
    overflow-y:hidden;
}

/* right tooltip */
.tooltip .tooltip-content.tooltip-content-right {
    left: 130%;
    top: 0%;
    width: 200px;
    background-color: rgb(55,71,79);    
}

.tooltip:hover .tooltip-content.tooltip-content-right {
    visibility:visible;
}

/* left tooltip */
.tooltip .tooltip-content.tooltip-content-left {
    right: 130%;
    top: 0%;
    width: 200px;
    background-color: rgb(55,71,79);    
}

.tooltip:hover .tooltip-content.tooltip-content-left {
    visibility:visible;
}

/* top tooltip */
.tooltip .tooltip-content.tooltip-content-top {
    left:-50%;
    top: -50%;
    width:200%;
    background-color: rgb(55,71,79);
    opacity: 1;  
}


.tooltip:hover .tooltip-content.tooltip-content-top{
    visibility:visible;
}

/* bottom tooltip */

.tooltip .tooltip-content.tooltip-content-bottom {
    left:0%;
    top: 120%;
    width:100%;
    background-color: rgb(55,71,79);
    opacity: 1;  
}

.tooltip:hover .tooltip-content.tooltip-content-bottom{
    visibility:visible;
}
/* custom
.tooltip .listen {
    position: absolute;
    top:5%;
    left:95%;
    opacity:1;
    font-size: 5rem;
    transition: all 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    animation-duration: 0.5s;
    animation-name: fadeIn;
}

.tooltip:hover .listen {
    color: rgb(219,34,51);
    transform: scale(1.1);
    text-shadow: 0rem 0rem 3rem rgba(219,34,51,0.8);
} */
